/*选项卡样式*/
ul#myTab {
    border-bottom: 1px solid #000;
    margin: 0px 65px;
}
li#step1Li, #step2Li, #step3Li,#step4Li,#step5Li,#step6Li{
    /* color: #fff; */
    margin: 0px 30px 0px 0px;
}
li#step1Li, #step2Li, #step3Li, #step4Li, #step5Li, #step6Li {
    background-color: #555;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    padding: 0;
    text-align: center;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #777;
    border:none;
}
/*头部*/
.line {
    margin: 50px 70px 30px 70px;
}
div.line>span.header {
    padding-top: 0.2%;
    height: 56px;
    font-size: 28px;
}
.top {
    margin: 30px 65px;
    background: #080808f7;
    height: 30px;
    color: #fff;
    display: grid;
    grid-template-columns: 435px 390px 300px;
    font-size: 20px;
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
}
/*卡片式订单*/
.orderlist {
    margin: 0 65px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 50px;
}
button.btn.defalut {
    width: 80px;
    margin: 0 20px;
    background: #000;
    color: #fff;
}
.table-btn {
    /*margin: 0 0 0 770px;*/
    /*2018/10/24*/
    margin: 0 0 20px 770px;
}
.table-btn.sure {
   margin: 0 0 10px 920px;
}
.table-btn.two {
    margin: 0 0 0 850px;
}
table.table.table-striped {
    margin-bottom: 10px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover,.nav-tabs>li#step4Li.active>a:hover{
    font-weight: bold;
    color: #f2dede;
    cursor: default;
    background-color: #080808;
    border: 1px solid #080808;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background: #555;
    color: #fff;
}
li#step4Li,#step5Li,#step6Li {
    height: 42px;
}
li#step4Li>a, li#step5Li>a, li#step6Li>a {
    height: 44px;
    padding: 8px;
    /* margin: auto 0; */
}
.nav-tabs>li#step5Li.active>a:hover 
{
	  font-weight: bold;
    color: #f2dede;
    cursor: default;
    background-color: #080808;
    border: 1px solid #080808;
    border-bottom-color: transparent;
}
button.btn.defalut.info {
    padding: 6px 0;
    width: 100px;
}
button.btn.defalut.cancel {
    padding: 6px 0px;
    width: 100px;
}