/*选项卡样式*/
.leadertab.row {
    margin: 65px auto;
}
ul#myTab {
    width: fit-content;
    border: none;
    margin: 0 auto;
}
li#step1Li,#step2Li,#step3Li {
    padding-bottom: 10px;
   /* border-bottom: 1px solid #ccc;*/
    border-radius: 3px;
    border-width: 5px;
    width: 300px;
    margin: 0 40px;
    height: 68px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	border: 1px solid transparent;
	color: #000;
    font-weight: bold;
}
a.link {
    color: #777;
}
.gray{
   border-bottom: 1px solid #ccc;
}
.black{
	border-bottom: 1px solid #000;
}
/*选项卡内容样式*/
label {
    color: #000;
}
label.active{
	content: "<i class='far fa-check-square'></i>";
}
label.labelhead {
    color: #000;
    font-family: montserrat light,sans-serif,microsoft yahei;
}
div#myTabContent {
    margin: 0 auto;
    width: 1060px;
}
a.back {
    font-size: 19px;
    font-family: montserrat light,sans-serif,microsoft yahei;
    padding: 0 0 0 25px;
}
.back {
    margin: 50px 0;
}
label.labelhead {
	font-family: montserrat light,sans-serif,microsoft yahei;
    font-size: 25px;
    margin: 10px 0 20px 20px;
}
thead {
    background: #ccc;
    /* height: 60px; */
}
input#all {
    width: 25px;
    height: 20px;
    margin: 0 20px;
}
input.son_check {
    width: 25px;
    height: 20px;
    margin: 70px 20px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 20px 0;
    border:0;
        width: 500px;
}
div.list_img>a>img {
    width: 280px;
    margin: 0 auto;
    padding: 0 40px 0 0;
}
th.headth {
    padding: 20px 0;
}
p.del {
    width: 100px;
    margin: 30px 0 0 0;
}
p.price {
    padding: 78px 20px;
}
p.sum_price,p.order-sum_price{
    padding: 78px 0;
}
.amount_box {
    padding: 72px 0;
    margin-left: -8px;
}
p.goodname {
    padding: 20px 0;
}
button.reduce.btn, .plus.btn {
    background: #000;
    color: #fff;
    font-weight: 900;
    width: 30px;
    margin: 10px 0 11px 0;
}
button.reduce.reSty.btn {
    background: #000;
    color: #fff;
    font-weight: 800;
}
tr.order_lists {
  
    border-bottom: 1px solid #ccccccd4;
}
input.sum {
    width: 50px;
    height: 33px;
    border: 0;
}
.table>tbody>tr.bordertop{
    border-top: 1px solid #ccccccd4
}
.calBtn,.sumbitbtn,button.add_addr,button.save_addr,button#surecid,button.vieworder {
    text-align: center;
    padding: 8px;
    border: none;
    width: 150px;
    height: 40px;
    margin: 0 0 0 20px;
    background: #000;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}
input.sum {
    text-align: center;
}

/*模态框*/
.modal-body {
    height: 60px;
    vertical-align: middle;
    padding: 20px;
    font-size: 18px;
}
/*支付及物流页面*/
table.table {
    margin-top: 80px;
}
.titleborder {
    /* padding: 40 10 20 10; */
    margin: 50px 0 50px 50px;
    border-bottom: 1px solid #ccc;
    border-width: 2px;
}
ul.addr {
    display: flex;
    /*height: 100px;*/
    height: auto;
    padding: 30px 40px 30px 40px;
    vertical-align: middle;
    line-height: 3;
    border: 1px solid #ccc;
    margin-left: 50px;
    margin-bottom: 20px;
}
button.add_addr{
    margin: 20px 0 50px 0;
    float: right;
}
button.save_addr {
    margin: 10px 50px 50px 0;
    float: right;
}
ul.addr.add {
    height: 200px;
    border: none;
}
.div_add_addr {
    height: auto;
    border: 1px solid #ccc;
    margin-bottom: 80px;
    margin-left: 50px;
}
ul.addr>li{
	    padding: 0 25px 0 15px;
}
input#name,#tel{
    width: 200px;
}
input#detail {
	width:600px;
}
select#province, .city, .dist {
    width: 100px;
    height: 32px;
}
/*新建地址验证*/
label#nameError,#telError,#detailError {
    color: red;
}
label#nameCorrect,#telCorrect,#detailCorrect {
    color: green;
}
/*二维码提示*/
.modal-body.code {
    height: auto;
}
div.modal-body.code>img {
	width: 400px;
    padding: 0 0 0 0;
}
/*成功页面样式*/
div.paysuccess>img {
    width: 500px;
    height: 500px;
    margin: 100px 50px;
}
.successtext {
    margin: 200px 50px 80px 50px;
    height: fit-content;
    width: fit-content;
}
div.successtext>p {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
button.vieworder {
    margin-top: 50px;
    margin-right: 30px;
}
div.successtext>a {
    font-size: 20px;
}
.list_img {
    width: 300px;
}
.list_img>img {
    width: 300px;
}
span.mh4 {
    font-size: 18px;
    font-family: montserrat light,sans-serif,microsoft yahei;
    font-weight: bold;
    margin: 0 auto;
}