.line {
    width: 90%;
    height: 37px;
    border-bottom-color: #000;
    border-bottom: 1px solid #000;
    margin: 32px auto;
}
span.header {
    padding: 15px 30px;
    background: #000;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
}
.pp {
    margin: 40px 200px 20px 200px;
    width: fit-content;
    font-size: 18px;
    font-weight: bold;
    /*display: flex;*/
}
div.pp>button.btn.btn-link {
    padding-top: 0;
    font-size: 18px;
    padding-bottom: 3px;
    margin-left: 30px;
    margin-top: -10px;
}
p#pick {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    margin-left: 80px;
    margin-top: 30px;
    border-bottom: 1px solid #000c;
    width: 28%;
}
/*新增地址*/
div.addr{
    display: flex;
    height: 200px;
    border: 1px solid #ccc;
    margin: 40px 70px 20px 80px;
}
ul.addr{
    display: flex;
    height: 100px;
    padding: 30px 40px 30px 40px;
    vertical-align: middle;
    line-height: 3;
    border: 1px solid #ccc;
    margin: 40px 70px 20px 80px;
}
button.add_addr{
    margin: 20px 0px 50px 0px;
    float: right;
}
button.save_addr {
    margin: 10px 50px 50px 0px;
    float: right;
}
ul.addr.add {
    height: 200px;
    border: none;
}
ul.addr>li{
	    padding: 0px 25px 0px 15px;
}
input#name,#tel{
    width: 200px;
}
input#detail {
	width:600px;
}
select#province, .city, .dist {
    width: 100px;
    height: 32px;
}
button.edit, button.setdefault {
    width: 100px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    background: #000;
    border: none;
    margin: 0 20px;
}
button.btn.btn-link.update {
    float: left;
    margin: -43px 0px 0px 240px;
    font-size: 18px;
}
button.btn.btn-link.update_phone{
    float: left;
    margin: -43px 0px 0px 240px;
    font-size: 18px;
}
.edit {
    padding-top: 0;
    margin-top: -5px;
    margin-right: 30px;
    width:200px;
}
form.edit1 {
    display: flex;
    width: 500px;
}
button.btn.save {
    margin: -5px 0 0 0;
    padding: 0 12px;
    width: 80px;
    height: 32px;
}
.div_add_addr, .div_edit_addr {
    height: auto;
    border: 1px solid #ccc;
    margin-bottom: 80px;
    margin-left: 75px;
    margin-right: 70px;
}
/*新建地址验证*/
label#nameError,#telError,#detailError {
    color: red;
}
label#nameCorrect,#telCorrect,#detailCorrect {
    color: green;
}
/*主元素*/
button.add_addr,button.save_addr{
	 text-align: center;
    padding: 8px;
    border: none;
    width: 150px;
    height: 40px;
    margin: 30px 70px 50px 20px;
    background: #000;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
}
div.addr>ul>li {
    margin: 20px 0px;
}
li#rr {
    /* float: right; */
    margin: 0 0 0 800px;
}
ul.addr.add.edit {
    margin: 0;
    width: 920px;
}
.detail-image{
	height: 120px;
    width: 120px;
    margin-top: -21px;
    margin-left: 90px;
}
.pp-father{
	 margin-left: 50px;
}
.user_level{
	height: 25px;
    width: 25px;
}
.addr_update{
	float: right;
    margin-right: 25px;
    width: 60px;
    background: #000;
    color: #fff;
}
.addr ul{
	width: 100%;
    font-size: larger;
}
