/*主元素*/
body{
    background: #fff;
}
.product-pic, .product-intro,.mid,.bottom{
	/*  display: flex; */
     align-items: center;
     justify-content: center;
}
/*商品介绍图片*/
.product-pic {
    grid-column-start: 1;
    margin: 30px 0;
    padding: 0 40px 0 180px;
    width: 100%;
    height: 400px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #99999938;
}
img.pic {
    width: 100%;
    height: auto;
    object-fit:cover;
}
/*商品介绍*/
.product-intro {
    /*margin: 30px 100px 20px 50px;*/
    margin: 4.5% 14.85% 2.97% 7.45%;
    font-family: montserrat regular,sans-serif,microsoft yahei;
}
h1.product-name {
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    font-size: 24px;
}
h2.product-disc {
    font-family: montserrat ultra light,sans-serif,microsoft yahei;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    color: #666;
    margin: 20px 0 0;
}
h3.product-price {
    margin: 40px 0;
}
label.pro-label {
    color: #333333f2;
   /* margin: 0 auto;*/
    font-size: 15px;
    grid-row-start: 1;
    padding:12px 0;
}
label.pro-label.num {
    padding: 10px 0 0 0;
}
.product-color.row,.product-num.row {
    width: 25em;
    display: grid;
    grid-template-columns: 100px 400px;
        grid-template-rows: auto;
        margin-bottom: 35px;
}
ul.color-group {
    grid-row-start: 1;
    display: flex;
    margin: 0;
    padding: 0;
}
li.color-item>em{
    cursor: pointer;
    color: #666666;
    font-size: 14px;
    display: table;
    padding: 0 29px;
    font-style: normal;
    border: 0px solid #dcdcdc;
    line-height: 28px;
    background: #ff0000;
}
li.color-item {
    width: 80px;
    height: 40px;
    border: none;
    padding: 8px 8px 35px 8px;
}
li.color-item.selected {
    width: 80px;
    height: 40px;
    border: 0.5px solid #000;
    padding: 8px 8px 35px 8px;
}
button.btn.btn-buy {
    margin-top: 30px;
    margin: 30px 0 0 100px;
    width: 150px;
    height: 40px;
    background-color: #000000;
    font-weight: bold;
    color: #fff;
}
input#gnumber {
    width: 50px;
    text-align: center;
}
input[type="radio"] {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 60px;
    height: 30px;
    margin: -30px 0;
}
input#reduce {
    background: #000;
    color: #fff;
    font-weight: bolder;
    width: 30px;
    font-size: 15px;
    border: none;
}
input#plus {
    background: #000;
    color: #fff;
    font-weight: bolder;
    width: 30px;
    font-size: 15px;
    border: none;
}
/*商品参数*/
.product-pram.mid {
    grid-column: 1/3;
}
.title {
    /* margin: 0 auto; */
    text-align: center;
    margin: 0 0 40px 0;
}
.line {
    width: 90%;
    height: 37px;
    border-bottom-color:#000;
    border-bottom: 1px solid #000;
    margin: 30px auto;
}
span.header {
    background: #000;
    color: #fff;
    padding: 15px 30px;
    font-size: 17px;
    font-weight: bold;
}
h4 {
    padding: 10px;
}
label.lip-label {
    color: #777;
    font-family: serif;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    height: 25px;
    width: 100%;
    box-sizing: border-box;
    break-inside: avoid;
}
/*商品图片详情*/
.product-pic.bottom {
    grid-column: 1/3;
    width: 1028px;
    height: auto;
    padding: 0;
    margin: 60px auto;
    border: 0;
}
img.morecontent {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/**
  修改时间：2018/10/8
  选项卡：商品详情和评价tab切换*/
.maintab{
    width: 90%;
    height: 55px;
    margin: 30px auto;
}
/*div#navbar-collapse>ul>li>a {
    width: fit-content;
    padding-right: 25%;
}*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #080808;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav>li>a {
    padding: 15px 30px;
    font-size: 17px;
    font-weight: bold;
}
.nav-tabs>li>a:hover {
    border-color: #080808 #080808 #080808;
    border-width: 1px 1px 1px;
    background: #fff;
    color:#000;
}
.nav-tabs {
    border-bottom: 1px solid #080808;
}
.div-access-content{
    width: 90%;
    height: auto;
    padding: 0;
    margin: 60px auto;
    border: 0;
}
div#masonry:hover div.grid-item { /*opacity: 0.3*/; }
div#masonry:hover div.grid-item:hover { /*opacity: 1;*/border: 1px solid #000000 }

/*用户评价*/
.grid {
    flex-direction: row;
    align-items: flex-start
}
.grid-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    break-inside: avoid;
    margin-bottom: 15px;
}
span.fa.fa-quote-left{
    width: 100%;
    text-align: left;
    padding: 10% 10% 3%;
    font-size: larger;
    font-style: italic;
    /*color: #e32b55;*/
}
span.fa.fa-quote-right{
    padding: 3% 10% 5% 0;
    font-size: larger;
    font-style: italic;
    width: 100%;
    text-align: right;
   /* color: #e32b55;*/
}
span.span-text {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 20%;
}
.div-signature {
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-right: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #555;
    font-size: 15px;
}
span.span-signature {
    margin-bottom: 8px;
}
span.i {
    font-size: 0;
    border-top: 1px solid #000;
    padding: 0 22px;
    padding-top: 5px;
    margin-right: 10px;
}

/*手机大小适配*/
@media (min-width: 400px) {
    div#navbar-collapse {
        padding: 0;
    }
    div#navbar-collapse>ul>li>a {
        padding: 15px 0;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background: #000;
        margin-top: -7.5px;
    }
    .container.content {
        /*display: grid;
        grid-template-columns: repeat(1, minmax(674.74px, 1fr));*/
    }.container.content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .product-color.row, .product-num.row {
        width: 25em;
        display: grid;
        grid-template-columns: 100px 400px;
        grid-template-rows: auto;
        margin-bottom: 35px;
        /* text-align: center; */
        margin: 35px auto;
    }
    #masonry { column-count: 1; // two columns on larger phones }
    .product-pic {
        margin-top: 31%;
        width: 100%;
        padding: 0;
        margin-bottom: 10px;
        height: 300px;

    }
    img.pic {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .product-intro {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    .input-group.count {
        margin-right: 11%;
    }
    button.btn.btn-buy {
        margin: 0 auto;
        width: 80%;
    }
    div.title>h2 {
        font-size: 22px;
    }
    div.title>h3 {
        font-size: 18px;
    }
    .intro-text {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    label.lip-label {
        width: 80%;
        margin: 0 auto;
        min-height: 35px;
        line-height: 2.5;
        border: unset;
    }
    .product-pic.bottom {
        width: 100%;
    }

    span.logoname {
        padding: 0 0 0 25%;
    }
    .col-md-9 {
        padding: 0;
    }
    ul.ul_top {
        display: flex;
        flex-direction: row;
        padding: 1px;
    }
    ul.ul_top>li.item {
        padding-right: 5%;
    }
    span.title-footer-section {
        padding: 0 1% 0;
    }
    .footer-bottom {
        height: auto;
        padding-bottom: 20px;
    }

}
@media (min-width: 1024px) {
    #masonry { column-count: 2; }
    .intro-text {
        column-count: 2;
        column-gap: 35px;
        margin: 0px 18%;
    }
    .container.content {
        display: grid;
        grid-template-columns: repeat(2, minmax(674.74px, 1fr));
    }
    .product-color.row, .product-num.row {
        width: 50%;
        display: grid;
        grid-template-columns: 100px 400px;
        grid-template-rows: auto;
        margin: 0;
        margin-bottom: 35px;

        /* text-align: center; */
    }
    /*商品介绍图片*/
    .product-pic {
        grid-column-start: 1;
        margin: 5.19% 0;
        padding: 0 6% 0 26.7%;
        width: 100%;
        height: 400px;
        text-align: center;
        vertical-align: middle;
        border-right: 1px solid #99999938;
    }
    img.pic {
        width: 100%;
        height: auto;
        object-fit:cover;
    }

    .product-intro {
        margin: 4.5% 14.85% 2.97% 7.45%;
        text-align: left;
    }

    button.btn.btn-buy {
        margin-top: 30px;
        margin: 30px 0 0 100px;
        width: 150px;
        height: 40px;
        background-color: #000000;
        font-weight: bold;
        color: #fff;
    }

    input#gnumber {
        width: 50px;
        text-align: center;
    }

    label.lip-label {
        color: #777;
        font-family: serif;
        font-size: 16px;
        font-weight: normal;
        border-bottom: 1px solid #ccc;
        height: 25px;
        width: 100%;
        box-sizing: border-box;
        break-inside: avoid;
    }
    /*商品图片详情*/
    .product-pic.bottom {
        grid-column: 1/3;
        width: 1028px;
        height: auto;
        padding: 0;
        margin: 60px auto;
        border: 0;
    }
    img.morecontent {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    }




                                                                                                                                                                                         商业转载请联系作者获得授权,非商业转载请注明出处。
