<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>

    <title>Kiss OLive 订单详情</title>

    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/admin/fontawesome-all.css">
    <link rel="stylesheet" href="../../css/user/home.css">
    <link rel="stylesheet" href="../../css/user/orderlist.css">
    <link rel="stylesheet" href="../../css/user/floatstyle.css">
    <link rel="stylesheet" href="../../css/user/sign_login.css"/>
    <link rel="stylesheet" href="../../css/user/slide-unlock.css">
    <link rel="stylesheet" href="../../css/user/sure_panel.css">
    <!--
<link rel="stylesheet" type="text/css" href="styles.css">
-->

</head>

<body>
<!-- start of 头部 -->
<div class="header-main-bar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container header">
            <div class="navbar-header" id="head">

                <ul class="nav navbar-nav navbar-left" v-if="loginflag==0">
                    <li id="li_login">
                        <a href="#" class="navbar-brand">登录</a>
                    </li>
                    <li>
                        <a href="#" class="navbar-brand">注册</a>
                    </li>
                    <!-- 响应式布局按钮-下拉框 -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                </ul>

                <ul class="nav navbar-nav navbar-left" v-else>
                    <li>
                        <a href="" class="navbar-brand"><img class="img-circle user-head-image"
                                                             :src="user.imgUrl"></img></a>
                    </li>
                    <li>
                        <a href="info" class="navbar-brand">{{user.username}}</a>
                    </li>
                    <li><a href="" class="navbar-brand" onclick="logout()">[退出]</a></li>
                    <!-- 响应式布局按钮-下拉框 -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                </ul>

            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right" style="margin: 0">
                    <li>
                        <a href="myshoppingcart"><span
                                class="glyphicon glyphicon-shopping-cart">&nbsp;<span>我的购物袋</span></span>
                        </a>
                    </li>
                    <li>
                        <a href="orderlist"><span
                                class="glyphicon glyphicon-list">&nbsp;<span>我的订单</span></span>
                        </a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>
    <div class="main-bar-content">
        <div class="header-logo row">
            <div class="col-md-4 col-lg-4"></div>
            <div class="col-md-4 col-lg-4">
                <a href="home"><img src="../../img/kissolive.png" class="icon-olive"/></a>
            </div>
            <div class="col-md-4 col-lg-4" id="search">
                <form :action="'search?search='+search" method="get">
                    <div class="nav-search">
                        <div class="input-group">
                            <input type="text" class="form-control" name="search" placeholder="Search for..."
                                   v-model="search">
                            <span class="input-group-btn">
								<a class="btn btn-default glyphicon glyphicon-search"
                                   :href="'search?search='+search"></a>
							</span>
                        </div>
                        <!-- /input-group -->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- end of main-bar-content -->
</div>
<!-- end of 头部 -->

<!-- start of 内容 -->
<div class="container content" id="orderlist">
    <div class="line">
        <span class="header">订单详情</span>
    </div>
    <div class="leadertab row">
        <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li id="step1Li" class="active black">
                <a href="#step1" data-toggle="tab" role="tab">未付款</a>
            </li>
            <li id="step2Li" class="gray">
                <a href="#step2" data-toggle="tab" role="tab">等待发货</a>
            </li>
            <li id="step3Li" class="gray">
                <a href="#step3" data-toggle="tab" role="tab">等待确认</a>
            </li>
            <li id="step6Li" class="gray">
                <a href="#step6" data-toggle="tab" role="tab">未评价</a>
            </li>
            <li id="step4Li" class="gray">
                <a href="#step4" data-toggle="tab" role="tab">已完成</a>
            </li>
            <li id="step5Li" class="gray">
                <a href="#step5" data-toggle="tab" role="tab">已取消</a>
            </li>
        </ul>

        <div id="myTabContent" class="tab-content">
            <!-- 订单页面 -->
            <!-- 未付款 -->
            <div id="step1" class="tab-pane fade active in">
                <div class="top">
                    <span>产品</span><span>数量</span><span>价格</span>
                </div>
                <div class="orderlist" v-for="r in orderlist1">
                    <!--<form action="/KissOlive/MainServlet" method="post" id="">-->
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="width: 100px;"></th>
                                <th style="width: 423px;">订单编号：{{r.orderNumber}}</th>
                                <th colspan="2"></th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="t in r.goods">
                                <td></td>
                                <td>{{t.name}}</td>
                                <td style="text-align: center;width: 220px;">{{t.number}}</td>
                                <td style="text-align: center;">￥{{t.price}}</td>
                            </tr>

                            <tr>
                                <td colspan="3"></td>
                                <td style=" text-align: center;">总价：￥{{r.price}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="table-btn">
                            <button type="button" class="btn defalut cancel" @click="payOrder(r.orderId)">
                                查看详情
                            </button>
                            <button type="button" class="btn defalut cancel" @click="cancelOrder(r.orderId)">
                                取消
                            </button>
                            <button type="button" class="btn defalut payfor" @click="payOrder(r.orderId)">
                                付款
                            </button>
                        </div>
                    <!--</form>-->
                </div>

            </div>
            <!-- 等待发货 -->
            <div id="step2" class="tab-pane fade">
                <div class="top">
                    <span>产品</span><span>数量</span><span>价格</span>
                </div>

                <div class="orderlist" v-for="r in orderlist2">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 100px;"></th>
                            <th style="width: 423px;">订单编号：{{r.orderNumber}}</th>
                            <th colspan="2"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr v-for="t in r.goods">
                            <td></td>
                            <td>{{t.name}}</td>
                            <td style="text-align: center;width: 220px;">{{t.number}}</td>
                            <td style="text-align: center;">￥{{t.price}}</td>
                        </tr>

                        <tr>
                            <td colspan="3"></td>
                            <td style=" text-align: center;">总价：￥{{r.price}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="table-btn sure">
                        <button type="button" class="btn defalut cancel" @click="getDetail(r.orderId)">
                            查看详情
                        </button>
                    </div>
                </div>

            </div>

            <!-- 等待确认 -->
            <div id="step3" class="tab-pane fade">
                <div class="top">
                    <span>产品</span><span>数量</span><span>价格</span>
                </div>

                <div class="orderlist" v-for="r in orderlist3">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 100px;"></th>
                            <th style="width: 423px;">订单编号：{{r.orderNumber}}</th>
                            <th colspan="2"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr v-for="t in r.goods">
                            <td></td>
                            <td>{{t.name}}</td>
                            <td style="text-align: center;width: 220px;">{{t.number}}</td>
                            <td style="text-align: center;">￥{{t.price}}</td>
                        </tr>

                        <tr>
                            <td colspan="3"></td>
                            <td style=" text-align: center;">总价：￥{{r.price}}</td>
                        </tr>
                        </tbody>
                    </table>
                        <div class="table-btn two">
                            <button type="button" class="btn defalut cancel" @click="getDetail(r.orderId)">
                                查看详情
                            </button>
                            <button type="button" class="btn defalut received"
                                    @click="receivedOrder(r.orderId)">确认收货
                            </button>
                        </div>
                    </form>
                </div>

            </div>

            <!-- 未评价 -->
            <div id="step6" class="tab-pane fade">
                <div class="top">
                    <span>产品</span><span>数量</span><span>价格</span>
                </div>

                <div class="orderlist" v-for="r in orderlist4">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 100px;"></th>
                            <th style="width: 423px;">订单编号：{{r.orderNumber}}</th>
                            <th colspan="2"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr v-for="t in r.goods">
                            <td></td>
                            <td>{{t.name}}</td>
                            <td style="text-align: center;width: 220px;">{{t.number}}</td>
                            <td style="text-align: center;">￥{{t.price}}</td>
                        </tr>

                        <tr>
                            <td colspan="3"></td>
                            <td style=" text-align: center;">总价：￥{{r.price}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="table-btn sure">
                        <button type="button" class="btn defalut cancel" @click="getDetail(r.orderId)">
                            查看详情
                        </button>
                        <button type="button" class="btn defalut cancel" @click="getDetail(r.orderId)">
                            评价商品
                        </button>
                    </div>
                </div>

            </div>

            <!-- 已完成 -->
            <div id="step4" class="tab-pane fade">
                <div class="top">
                    <span>产品</span><span>数量</span><span>价格</span>
                </div>

                <div class="orderlist" v-for="r in orderlist5">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 100px;"></th>
                            <th style="width: 423px;">订单编号：{{r.orderNumber}}</th>
                            <th colspan="2"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr v-for="t in r.goods">
                            <td></td>
                            <td>{{t.name}}</td>
                            <td style="text-align: center;width: 220px;">{{t.number}}</td>
                            <td style="text-align: center;">￥{{t.price}}</td>
                        </tr>

                        <tr>
                            <td colspan="3"></td>
                            <td style=" text-align: center;">总价：￥{{r.price}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="table-btn sure">
                        <button type="button" class="btn defalut cancel" @click="getDetail(r.orderId)">
                            查看详情
                        </button>
                    </div>
                </div>

            </div>

            <!-- 已取消 -->
            <div id="step5" class="tab-pane fade">
                <div class="top">
                    <span>产品</span><span>数量</span><span>价格</span>
                </div>
                <div class="orderlist" v-for="r in orderlist0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 100px;"></th>
                            <th style="width: 423px;">订单编号：{{r.orderNumber}}</th>
                            <th colspan="2"></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr v-for="t in r.goods">
                            <td></td>
                            <td>{{t.name}}</td>
                            <td style="text-align: center;width: 220px;">{{t.number}}</td>
                            <td style="text-align: center;">￥{{t.price}}</td>
                        </tr>

                        <tr>
                            <td colspan="3"></td>
                            <td style=" text-align: center;">总价：￥{{r.price}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="table-btn sure">
                        <button type="button" class="btn defalut cancel" @click="getDetail(r.orderId)">
                            查看详情
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of 内容 -->

<!-- start of 尾部  -->
<footer class="contaniner content">
    <div class="footer-top">
        <div class="row">
            <div class="col-md-3">
                <!-- <span><h6 class="logoname">KISS OLIVE</h6><p>&nbsp;口&nbsp;红&nbsp;热&nbsp;门&nbsp;商&nbsp;城&nbsp;</p></span>
               -->
                <span class="logoname"><img
                        src="../../img/user_home/logo_black.png"></span>
            </div>
            <div class="col-md-9">
                <ul style="display:flex">

                    <li class="branditem">
                        <a href="">圣罗兰</a>
                    </li>
                    <li class="branditem">
                        <a href="">圣斗士</a>
                    </li>
                    <li class="branditem">
                        <a href="">罗兰</a>
                    </li>
                    <li class="branditem">
                        <a href="">圣兰</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-border">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <span class="title-footer-section">客户服务</span>
                    <div class="nav-footer">
                        <span class="title-footer-section"><a href="#">联系我们</a></span> <span
                            class="title-footer-section wechat"><img
                            class="wechat-img"
                            src="../../img/user_home/wechat.jpg"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <span class="title-footer-section">&nbsp;</span>
                    <div class="nav-footer">
                        <ul class="ul_top">
                            <li class="item">
                                <a href="#">精品店</a>
                            </li>
                            <li class="item">
                                <a href="#">工作机会</a>
                            </li>
                            <li class="item">
                                <a href="#">使用条款</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <span class="title-footer-section1">电子通讯</span>
                    <div class="nav-footer">
								<span class="title-footer-section font">率先获取最新商品的信息及KISS
							OLIVE的独家优惠：</a>
						</span>
                        <div class="input-group title-footer-section">
                            <input type="text" class="form-control" placeholder="Recipient's username"
                                   aria-describedby="basic-addon2"> <span class="input-group-addon" id="basic-addon2">@example.com</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- end of 尾部 -->
<div class="popup_de xycenter" id="tip">
    <div class="popup_box">
        <span class="popup_close" value="关闭">×</span>
        <span class="show_msg" id="show_msg"></span>
        <div class="btn_box">
            <div class="popup_btn btn-danger" value="确定" id="tipbtn">确定</div>
            <div class="popup_btn btn_cancel" value="取消">取消</div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../js/vue.js"></script>
<script type="text/javascript" src="../../js/user/user_home.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/user/user_orderlist.js"></script>

</body>

</html>