<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xgun.kissolive.dao.InnocentMapper" >
  <select id="countByPhoneNumber" resultType="int" parameterType="string">
    SELECT COUNT(*)
    FROM tb_user
    WHERE telphone = #{phoneNumber,jdbcType=VARCHAR}
  </select>
  <insert id="insertUser" parameterType="org.xgun.kissolive.pojo.User">
    INSERT INTO tb_user (id, username, password,
      telphone, img_url, score,
      role)
    VALUES (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{telphone,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER},
      #{role,jdbcType=INTEGER})
  </insert>
  <select id="selectIdByUser" resultType="int" parameterType="string">
    SELECT id
    FROM tb_user
    WHERE telphone = #{phoneNumber,jdbcType=VARCHAR}
  </select>
  <insert id="insertAddress" parameterType="org.xgun.kissolive.pojo.Address" >
    INSERT INTO tb_address (id, user_id, province,
    city, district, detail,
    postcode, consignee, telphone
    )
    VALUES (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR},
    #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR},
    #{postcode,jdbcType=VARCHAR}, #{consignee,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertBrand" parameterType="org.xgun.kissolive.pojo.Brand">
    INSERT INTO tb_brand (id, `name`, img_url,
      status)
    VALUES (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER})
  </insert>
  <select id="selectBrandById" resultType="org.xgun.kissolive.pojo.Brand" parameterType="int">
    SELECT id,`name`,img_url AS imgUrl,status
    FROM tb_brand
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectBrand" resultType="org.xgun.kissolive.pojo.Brand">
    SELECT id,`name`,img_url AS imgUrl,status
    FROM tb_brand
  </select>
  <select id="selectBrandByStatus" resultType="org.xgun.kissolive.pojo.Brand" parameterType="int">
    SELECT id,`name`,img_url AS imgUrl
    FROM tb_brand
    WHERE status = #{status,jdbcType=INTEGER}
  </select>
  <update id="updateBrandStatusById" parameterType="org.xgun.kissolive.pojo.Brand">
    UPDATE tb_brand
    SET status = #{status,jdbcType=INTEGER}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <select id="countHotspotByDescribe" resultType="int" parameterType="string">
    SELECT COUNT(1)
    FROM tb_hotspot
    WHERE `describe` = #{describe,jdbcType=VARCHAR}
  </select>
  <select id="countFunctionByDescribe" resultType="int" parameterType="string">
    SELECT COUNT(1)
    FROM tb_function
    WHERE `describe` = #{describe,jdbcType=VARCHAR}
  </select>
  <select id="countOriginByDescribe" resultType="int" parameterType="string">
    SELECT COUNT(1)
    FROM tb_origin
    WHERE `describe` = #{describe,jdbcType=VARCHAR}
  </select>
  <select id="countMarketTimeByDescribe" resultType="int" parameterType="string">
    SELECT COUNT(1)
    FROM tb_market_time
    WHERE `describe` = #{describe,jdbcType=VARCHAR}
  </select>
  <select id="countSkinByDescribe" resultType="int" parameterType="string">
    SELECT COUNT(1)
    FROM tb_skin
    WHERE `describe` = #{describe,jdbcType=VARCHAR}
  </select>
  <insert id="insertHotspot" parameterType="org.xgun.kissolive.pojo.Hotspot">
    INSERT INTO tb_hotspot (`describe`)
    VALUES (#{hotspot.describe,jdbcType=VARCHAR})
    <selectKey resultType="Integer" order="AFTER" keyProperty="hotspot.id">
      SELECT LAST_INSERT_ID() AS `id`
    </selectKey>
  </insert>
  <insert id="insertFunction" parameterType="org.xgun.kissolive.pojo.Function">
    INSERT INTO tb_function(`describe`)
    VALUES (#{function.describe,jdbcType=VARCHAR})
    <selectKey resultType="Integer" order="AFTER" keyProperty="function.id">
      SELECT LAST_INSERT_ID() AS `id`
    </selectKey>
  </insert>
  <insert id="inserOrigin" parameterType="org.xgun.kissolive.pojo.Origin">
    INSERT INTO tb_origin(`describe`)
    VALUES (#{origin.describe,jdbcType=VARCHAR})
    <selectKey resultType="Integer" order="AFTER" keyProperty="origin.id">
      SELECT LAST_INSERT_ID() AS `id`
    </selectKey>
  </insert>
  <insert id="insertMarketTime" parameterType="org.xgun.kissolive.pojo.MarketTime">
    INSERT INTO tb_market_time(`describe`)
    VALUES (#{marketTime.describe,jdbcType=VARCHAR})
    <selectKey resultType="Integer" order="AFTER" keyProperty="marketTime.id">
      SELECT LAST_INSERT_ID() AS `id`
    </selectKey>
  </insert>
  <insert id="insertSkin" parameterType="org.xgun.kissolive.pojo.Skin">
    INSERT INTO tb_skin(`describe`)
    VALUES (#{skin.describe,jdbcType=VARCHAR})
    <selectKey resultType="Integer" order="AFTER" keyProperty="skin.id">
      SELECT LAST_INSERT_ID() AS `id`
    </selectKey>
  </insert>
  <select id="selectHotspotById" resultType="org.xgun.kissolive.pojo.Hotspot" parameterType="int">
    SELECT `id`,`describe`
    FROM tb_hotspot
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectFunctionById" resultType="org.xgun.kissolive.pojo.Function" parameterType="int">
    SELECT `id`,`describe`
    FROM tb_function
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectOriginById" resultType="org.xgun.kissolive.pojo.Origin" parameterType="int">
    SELECT `id`,`describe`
    FROM tb_origin
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectMarketTimeById" resultType="org.xgun.kissolive.pojo.MarketTime" parameterType="int">
    SELECT `id`,`describe`
    FROM tb_market_time
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectSkinById" resultType="org.xgun.kissolive.pojo.Skin" parameterType="int">
    SELECT `id`,`describe`
    FROM tb_skin
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectHotspot" resultType="org.xgun.kissolive.pojo.Hotspot">
    SELECT `id`,`describe`
    FROM tb_hotspot
  </select>
  <select id="selectFunction" resultType="org.xgun.kissolive.pojo.Function">
    SELECT `id`,`describe`
    FROM tb_function
  </select>
  <select id="selectOrigin" resultType="org.xgun.kissolive.pojo.Origin">
    SELECT `id`,`describe`
    FROM tb_origin
  </select>
  <select id="selectMarketTime" resultType="org.xgun.kissolive.pojo.MarketTime">
    SELECT `id`,`describe`
    FROM tb_market_time
  </select>
  <select id="selectSkin" resultType="org.xgun.kissolive.pojo.Skin">
    SELECT `id`,`describe`
    FROM tb_skin
  </select>
  <insert id="insertProduction" parameterType="org.xgun.kissolive.pojo.Production">
    INSERT INTO tb_production (brand_id, origin_id,
    market_time_id, `name`, description,
    img_url, detail, search,
    updatetime)
    VALUES (#{production.brandId,jdbcType=INTEGER}, #{production.originId,jdbcType=INTEGER},
    #{production.marketTimeId,jdbcType=INTEGER}, #{production.name,jdbcType=VARCHAR}, #{production.description,jdbcType=VARCHAR},
    #{production.imgUrl,jdbcType=VARCHAR}, #{production.detail,jdbcType=VARCHAR}, #{production.search,jdbcType=VARCHAR},now())
    <selectKey resultType="Integer" order="AFTER" keyProperty="production.id">
      SELECT LAST_INSERT_ID() AS `id`
    </selectKey>
  </insert>
  <insert id="insertGoods" parameterType="org.xgun.kissolive.pojo.Goods">
    INSERT INTO tb_goods (production_id, color_code, color_name, price, status, updatetime)
    values (#{goods.productionId,jdbcType=INTEGER}, #{goods.colorCode,jdbcType=VARCHAR},
      #{goods.colorName,jdbcType=VARCHAR}, #{goods.price,jdbcType=DECIMAL}, #{goods.status,jdbcType=INTEGER}, now())
    <selectKey resultType="Integer" order="AFTER" keyProperty="goods.id">
      SELECT LAST_INSERT_ID() AS `id`
    </selectKey>
  </insert>
  <select id="selectGoodsById" resultType="org.xgun.kissolive.pojo.Goods" parameterType="int">
    SELECT id, production_id AS productionId, color_code AS colorCode, color_name AS colorName, price, status, updatetime
    FROM tb_goods
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertProductionHotspot" parameterType="list">
    INSERT INTO tb_production_hotspot(hotspot_id,production_id)
    VALUES
    <foreach item="item" collection="list" separator="," open="" close=";" index="">
      (#{item.hotspotId,jdbcType=INTEGER}, #{item.productionId,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="insertProductionFunction" parameterType="list">
    INSERT INTO tb_production_function(function_id,production_id)
    VALUES
    <foreach item="item" collection="list" separator="," open="" close=";" index="">
      (#{item.functionId,jdbcType=INTEGER}, #{item.productionId,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="insertProductionSkin" parameterType="list">
    INSERT INTO tb_production_skin(skin_id,production_id)
    VALUES
    <foreach item="item" collection="list" separator="," open="" close=";" index="">
      (#{item.skinId,jdbcType=INTEGER}, #{item.productionId,jdbcType=INTEGER})
    </foreach>
  </insert>
  <update id="updateBrandByIdSelective" parameterType="org.xgun.kissolive.pojo.Brand">
    UPDATE tb_brand
    <set >
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="countProduction" resultType="int">
    SELECT COUNT(1) FROM tb_production
  </select>
  <select id="selectProduction" resultType="org.xgun.kissolive.pojo.Production">
    SELECT id, brand_id AS brandId, origin_id AS originId, market_time_id AS marketTimeId, `name`, description, img_url AS imgUrl, detail, search, updatetime
    FROM tb_production
    ORDER BY id
    limit #{index}, #{num}
  </select>
  <select id="selectHotspotByProduction" resultType="org.xgun.kissolive.pojo.Hotspot">
    SELECT id, `describe`
    FROM tb_hotspot
    WHERE id IN (SELECT hotspot_id FROM tb_production_hotspot WHERE production_id = #{production_id,jdbcType=INTEGER})
    ORDER BY id
  </select>
  <select id="selectFunctionByProduction" resultType="org.xgun.kissolive.pojo.Function">
    SELECT id, `describe`
    FROM tb_function
    WHERE id IN (SELECT function_id FROM tb_production_function WHERE production_id = #{production_id,jdbcType=INTEGER})
    ORDER BY id
  </select>
  <select id="selectSkinByProduction" resultType="org.xgun.kissolive.pojo.Skin">
    SELECT id, `describe`
    FROM tb_skin
    WHERE id IN (SELECT skin_id FROM tb_production_skin WHERE production_id = #{production_id,jdbcType=INTEGER})
    ORDER BY id
  </select>
  <select id="selectGoodsByProduction" resultType="org.xgun.kissolive.pojo.Goods">
    SELECT id, production_id AS productionId, color_code AS colorCode, color_name AS colorName, price, status, updatetime
    FROM tb_goods
    WHERE production_id = #{production_id,jdbcType=INTEGER}
    ORDER BY id
  </select>
  <select id="selectProductionByBrand" resultType="org.xgun.kissolive.pojo.Production">
    SELECT id, brand_id AS brandId, origin_id AS originId, market_time_id AS marketTimeId, `name`, description, img_url AS imgUrl, detail, search, updatetime
    FROM tb_production
    WHERE brand_id = #{brand_id,jdbcType=INTEGER}
    ORDER BY id
  </select>
  <select id="selectProductionSearch" resultType="org.xgun.kissolive.vo.ProductionSame">
    SELECT id, search
    FROM tb_production
    ORDER BY id
  </select>
  <select id="selectProductionById" resultType="org.xgun.kissolive.pojo.Production">
    SELECT id, brand_id AS brandId, origin_id AS originId, market_time_id AS marketTimeId, `name`, description, img_url AS imgUrl, detail, search, updatetime
    FROM tb_production
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAssessByProduction" resultType="org.xgun.kissolive.pojo.Assess">
    SELECT id, goods_id AS goodsId, production_id AS productionId, user_id AS userId, content, updatetime
    FROM tb_assess
    WHERE production_id = #{production_id,jdbcType=INTEGER}
  </select>
  <select id="selectUserNameAndImgById" resultType="org.xgun.kissolive.pojo.User">
    SELECT id, username, imgurl
    FROM tb_user
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <update id="updateProductionById" parameterType="org.xgun.kissolive.pojo.Production" >
    update tb_production
    <set >
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="originId != null" >
        origin_id = #{originId,jdbcType=INTEGER},
      </if>
      <if test="marketTimeId != null" >
        market_time_id = #{marketTimeId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        `description` = #{description,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="search != null" >
        search = #{search,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="deleteProductionHotspot" parameterType="java.lang.Integer" >
    delete from tb_production_hotspot
    where production_id = #{production_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteProductionFunction" parameterType="java.lang.Integer" >
    delete from tb_production_function
    where production_id = #{production_id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteProductionSkin" parameterType="java.lang.Integer" >
    delete from tb_production_skin
    where production_id = #{production_id,jdbcType=INTEGER}
  </delete>
  <update id="updateGoodsStatus">
    UPDATE tb_goods
    SET status = #{status,jdbcType=INTEGER}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateGoods" parameterType="org.xgun.kissolive.pojo.Goods">
    UPDATE tb_goods
    SET color_code = #{colorCode,jdbcType=VARCHAR},
      color_name = #{colorName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      updatetime = now()
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectOrderByUserAndId" resultType="org.xgun.kissolive.pojo.Order">
    SELECT id, address_id AS addressId, user_id as userId, `number`, status, `time`, price, updatetime
    FROM tb_order
    WHERE id = #{id,jdbcType=INTEGER} AND user_id = #{user_id,jdbcType=INTEGER}
  </select>
  <select id="selectOrderById" resultType="org.xgun.kissolive.pojo.Order">
    SELECT id, address_id AS addressId, user_id as userId, `number`, status, `time`, updatetime
    FROM tb_order
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectOrderItemByOrderId" resultType="org.xgun.kissolive.pojo.OrderItem">
    SELECT id, order_id AS orderId, goods_id AS goodsId, `number`, price, updatetime
    FROM tb_order_item
    WHERE order_id = #{order_id,jdbcType=INTEGER}
  </select>
  <update id="updateOrderPayStatusById" parameterType="org.xgun.kissolive.pojo.Order">
    UPDATE tb_order
    SET status = #{status,jdbcType=INTEGER},
      `time` = #{time,jdbcType=TIMESTAMP},
      updatetime = now()
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectUserByPhoneAndPassword" parameterType="org.xgun.kissolive.pojo.User" resultType="org.xgun.kissolive.pojo.User">
    SELECT id, username, password, telphone,  img_url AS imgUrl, score, role
    FROM tb_user
    WHERE telphone = #{telphone,jdbcType=VARCHAR} AND password = #{password,jdbcType=VARCHAR}
  </select>
  <select id="selectUserById" parameterType="org.xgun.kissolive.pojo.User" resultType="org.xgun.kissolive.pojo.User">
    SELECT id, username, password, telphone,  img_url AS imgUrl, score, role
    FROM tb_user
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAddressByUserid" resultType="org.xgun.kissolive.pojo.Address">
    SELECT id, user_id AS userId, province, city, district, detail, postcode, consignee, telphone
    FROM tb_address
    WHERE user_id = #{user_id,jdbcType=INTEGER}
  </select>
  <update id="updateUsername">
    UPDATE tb_user
    SET username = #{username,jdbcType=VARCHAR}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
</mapper>