<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xgun.kissolive.dao.InnocentMapper" >
  <select id="countByPhoneNumber" resultType="int" parameterType="string">
    SELECT COUNT(*)
    FROM tb_user
    WHERE telphone = #{phoneNumber,jdbcType=VARCHAR}
  </select>
  <insert id="insertUser" parameterType="org.xgun.kissolive.pojo.User">
    INSERT INTO tb_user (id, username, password,
      telphone, img_url, score,
      role)
    VALUES (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{telphone,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER},
      #{role,jdbcType=INTEGER})
  </insert>
  <select id="selectIdByUser" resultType="int" parameterType="string">
    SELECT id
    FROM tb_user
    WHERE telphone = #{phoneNumber,jdbcType=VARCHAR}
  </select>
  <insert id="insertAddress" parameterType="org.xgun.kissolive.pojo.Address" >
    INSERT INTO tb_address (id, user_id, province,
    city, district, detail,
    postcode, consignee, telphone
    )
    VALUES (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR},
    #{city,jdbcType=VARCHAR}, #{district,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR},
    #{postcode,jdbcType=VARCHAR}, #{consignee,jdbcType=VARCHAR}, #{telphone,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertBrand" parameterType="org.xgun.kissolive.pojo.Brand">
    INSERT INTO tb_brand (id, `name`, img_url,
      status)
    VALUES (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER})
  </insert>
  <select id="selectBrand" resultType="org.xgun.kissolive.pojo.Brand">
    SELECT id,`name`,img_url AS imgUrl,status
    FROM tb_brand
  </select>
  <select id="selectBrandByStatus" resultType="org.xgun.kissolive.pojo.Brand" parameterType="int">
    SELECT id,`name`,img_url AS imgUrl
    FROM tb_brand
    WHERE status = #{status,jdbcType=INTEGER}
  </select>
  <update id="updateBrandStatusById" parameterType="org.xgun.kissolive.pojo.Brand">
    UPDATE tb_brand
    SET status = #{status,jdbcType=INTEGER}
    WHERE id = #{id,jdbcType=INTEGER}
  </update>
  <select id="countHotspotByDescribe" resultType="int" parameterType="string">
    SELECT COUNT(1)
    FROM tb_hotspot
    WHERE `describe` = #{describe,jdbcType=VARCHAR}
  </select>
  <select id="countFunctionByDescribe" resultType="int" parameterType="string">
    SELECT COUNT(1)
    FROM tb_function
    WHERE `describe` = #{describe,jdbcType=VARCHAR}
  </select>
  <select id="countOriginByDescribe" resultType="int" parameterType="string">
    SELECT COUNT(1)
    FROM tb_origin
    WHERE `describe` = #{describe,jdbcType=VARCHAR}
  </select>
  <select id="countMarketTimeByDescribe" resultType="int" parameterType="string">
    SELECT COUNT(1)
    FROM tb_market_time
    WHERE `describe` = #{describe,jdbcType=VARCHAR}
  </select>
  <select id="countSkinByDescribe" resultType="int" parameterType="string">
    SELECT COUNT(1)
    FROM tb_skin
    WHERE `describe` = #{describe,jdbcType=VARCHAR}
  </select>
  <insert id="insertHotspot" parameterType="org.xgun.kissolive.pojo.Hotspot">
    INSERT INTO tb_hotspot (`describe`)
    VALUES (#{hotspot.describe,jdbcType=VARCHAR})
    <selectKey resultType="Integer" order="AFTER" keyProperty="hotspot.id">
      SELECT LAST_INSERT_ID() AS `id`
    </selectKey>
  </insert>
  <insert id="insertFunction" parameterType="org.xgun.kissolive.pojo.Function">
    INSERT INTO tb_function(`describe`)
    VALUES (#{function.describe,jdbcType=VARCHAR})
    <selectKey resultType="Integer" order="AFTER" keyProperty="function.id">
      SELECT LAST_INSERT_ID() AS `id`
    </selectKey>
  </insert>
  <insert id="inserOrigin" parameterType="org.xgun.kissolive.pojo.Origin">
    INSERT INTO tb_origin(`describe`)
    VALUES (#{origin.describe,jdbcType=VARCHAR})
    <selectKey resultType="Integer" order="AFTER" keyProperty="origin.id">
      SELECT LAST_INSERT_ID() AS `id`
    </selectKey>
  </insert>
  <insert id="insertMarketTime" parameterType="org.xgun.kissolive.pojo.MarketTime">
    INSERT INTO tb_market_time(`describe`)
    VALUES (#{marketTime.describe,jdbcType=VARCHAR})
    <selectKey resultType="Integer" order="AFTER" keyProperty="marketTime.id">
      SELECT LAST_INSERT_ID() AS `id`
    </selectKey>
  </insert>
  <insert id="insertSkin" parameterType="org.xgun.kissolive.pojo.Skin">
    INSERT INTO tb_skin(`describe`)
    VALUES (#{skin.describe,jdbcType=VARCHAR})
    <selectKey resultType="Integer" order="AFTER" keyProperty="skin.id">
      SELECT LAST_INSERT_ID() AS `id`
    </selectKey>
  </insert>
  <select id="selectHotspotById" resultType="org.xgun.kissolive.pojo.Hotspot" parameterType="int">
    SELECT `id`,`describe`
    FROM tb_hotspot
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectFunctionById" resultType="org.xgun.kissolive.pojo.Function" parameterType="int">
    SELECT `id`,`describe`
    FROM tb_function
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectOriginById" resultType="org.xgun.kissolive.pojo.Origin" parameterType="int">
    SELECT `id`,`describe`
    FROM tb_origin
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectMarketTimeById" resultType="org.xgun.kissolive.pojo.MarketTime" parameterType="int">
    SELECT `id`,`describe`
    FROM tb_market_time
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectSkinById" resultType="org.xgun.kissolive.pojo.Skin" parameterType="int">
    SELECT `id`,`describe`
    FROM tb_skin
    WHERE id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectHotspot" resultType="org.xgun.kissolive.pojo.Hotspot">
    SELECT `id`,`describe`
    FROM tb_hotspot
  </select>
  <select id="selectFunction" resultType="org.xgun.kissolive.pojo.Function">
    SELECT `id`,`describe`
    FROM tb_function
  </select>
  <select id="selectOrigin" resultType="org.xgun.kissolive.pojo.Origin">
    SELECT `id`,`describe`
    FROM tb_origin
  </select>
  <select id="selectMarketTime" resultType="org.xgun.kissolive.pojo.MarketTime">
    SELECT `id`,`describe`
    FROM tb_market_time
  </select>
  <select id="selectSkin" resultType="org.xgun.kissolive.pojo.Skin">
    SELECT `id`,`describe`
    FROM tb_skin
  </select>
</mapper>