<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xgun.kissolive.dao.SNH48Mapper" >
    <select id="listSupplier" resultType="org.xgun.kissolive.pojo.Supplier">
        SELECT *
        FROM tb_supplier
    </select>
    <insert id="addSupplier" parameterType="String">
        INSERT INTO tb_supplier(name)
        VALUES (#{name})
    </insert>
    <delete id="removeSupplier" parameterType="Integer">
        DELETE FROM tb_supplier
        WHERE id=#{id}
    </delete>
    <update id="updateSupplier">
        UPDATE tb_supplier
        SET name=#{name}
        WHERE id=#{id}
    </update>
    <insert id="addStock" parameterType="org.xgun.kissolive.pojo.Stock">
        INSERT INTO tb_stock(stock_id, goods_id, shelfdate, `number`, supplier_id, updatetime)
        VALUES (#{stock.stockId,jdbcType=VARCHAR}, #{stock.goodsId,jdbcType=INTEGER},
      #{stock.shelfdate,jdbcType=TIMESTAMP}, #{stock.number,jdbcType=INTEGER}, #{stock.supplierId,jdbcType=INTEGER}, now())
    </insert>
    <select id="listStock" resultType="org.xgun.kissolive.vo.ListStock">
        SELECT tb_stock.id, stock_id AS stockId, goods_id AS goodsId, shelfdate, `number`, supplier_id AS supplierId,
          tb_stock.updatetime, tb_supplier.name AS supplierName, tb_production.name AS productionName
        FROM tb_stock
        LEFT JOIN tb_supplier ON supplier_id = tb_supplier.id
        LEFT JOIN tb_goods ON tb_goods.id = goods_id
        LEFT JOIN  tb_production ON tb_goods.production_id = tb_production.id
    </select>
    <select id="listStockByGoodsID" resultType="org.xgun.kissolive.pojo.Stock">
        SELECT *
        FROM tb_stock
        WHERE goods_id = #{goodsID}
    </select>
    <insert id="addOrder" parameterType="org.xgun.kissolive.pojo.Order" useGeneratedKeys="true" keyProperty="order.id">
        INSERT INTO tb_order(user_id, number, status, time, price, updatetime)
        VALUES (#{order.userId,jdbcType=INTEGER}, #{order.number,jdbcType=VARCHAR}, #{order.status,jdbcType=INTEGER},
          #{order.time,jdbcType=TIMESTAMP}, #{order.price,jdbcType=DECIMAL}, now())
    </insert>
    <update id="updateStock" parameterType="org.xgun.kissolive.pojo.Stock">
        UPDATE tb_stock
        SET number = #{stock.number}
        WHERE id = #{stock.id} AND updatetime = #{stock.updatetime}
    </update>
    <insert id="insertOrderItem" parameterType="org.xgun.kissolive.pojo.OrderItem" useGeneratedKeys="true" keyProperty="orderItem.id">
        insert into tb_order_item (order_id, goods_id,
        number, price, updatetime)
        values (#{orderItem.orderId,jdbcType=INTEGER}, #{orderItem.goodsId,jdbcType=INTEGER},
        #{orderItem.number,jdbcType=INTEGER}, #{orderItem.price,jdbcType=DECIMAL}, now())
    </insert>
    <insert id="insertOrderItemShipment" parameterType="org.xgun.kissolive.pojo.OrderItemShipment" >
        insert into tb_order_item_shipment (order_item_id, stock_id, number,
        updatetime)
        values (#{orderItemShipment.orderItemId,jdbcType=INTEGER}, #{orderItemShipment.stockId,jdbcType=INTEGER},
          #{orderItemShipment.number,jdbcType=INTEGER},now())
    </insert>
    <select id="getGoodsName" resultType="java.lang.String">
        SELECT GROUP_CONCAT(name,color_name) AS GoodsName
        FROM tb_goods
        LEFT JOIN tb_production ON tb_production.id = tb_goods.production_id
        WHERE tb_goods.id = #{goodsID}
    </select>
    <update id="updateOrderAddress">
        UPDATE tb_order
        SET address_id = #{addressID}, updatetime = now()
        WHERE id = #{orderID}
    </update>
    <update id="updateOrderStatus">
        UPDATE tb_order
        SET status = #{status}, updatetime = now()
        WHERE id = #{orderID}
    </update>
    <select id="listOrder" resultType="org.xgun.kissolive.pojo.Order">
        SELECT *
        FROM tb_order
        WHERE user_id = #{userID} AND status = #{status}
    </select>
    <select id="listOrderItem" resultType="org.xgun.kissolive.pojo.OrderItem">
        SELECT id, order_id AS orderId, goods_id AS goodsId, number, price, updatetime
        FROM tb_order_item
        WHERE order_id = #{orderID}
    </select>
    <select id="getOrder" resultType="org.xgun.kissolive.pojo.Order">
        SELECT id, address_id AS addressId, user_id AS userId, number, status, time, updatetime, price
        FROM tb_order
        WHERE id = #{orderID}
    </select>
    <resultMap id="PermitResultMap" type="org.xgun.kissolive.pojo.Permit" >
        <constructor >
            <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="home_manage" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="brand_manage" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="goods_manage" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="stock_manage" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="order_manage" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="activity_manage" jdbcType="INTEGER" javaType="java.lang.Integer" />
        </constructor>
    </resultMap>
    <select id="listPermit" resultType="org.xgun.kissolive.pojo.Permit" resultMap="PermitResultMap">
        SELECT *
        FROM tb_permit
    </select>
    <update id="updatePermit" parameterType="org.xgun.kissolive.pojo.Permit">
        UPDATE tb_permit
        <set>
          <if test="homeManage != null" >
            home_manage = #{homeManage},
          </if>
          <if test="brandManage != null" >
            brand_manage = #{brandManage},
          </if>
          <if test="goodsManage != null" >
            goods_manage = #{goodsManage},
          </if>
          <if test="stockManage != null" >
            stock_manage = #{stockManage},
          </if>
          <if test="orderManage != null" >
            order_manage = #{orderManage},
          </if>
          <if test="activityManage != null" >
            activity_manage = #{activityManage},
          </if>
        </set>
        WHERE user_id = #{userId}
    </update>
    <select id="getPermit" resultType="org.xgun.kissolive.pojo.Permit" resultMap="PermitResultMap">
        SELECT *
        FROM tb_permit
        WHERE user_id = #{userID}
    </select>
    <resultMap id="VipResultMap" type="org.xgun.kissolive.pojo.VipLevel" >
        <constructor >
            <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
            <arg column="score_low" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="score_high" jdbcType="INTEGER" javaType="java.lang.Integer" />
            <arg column="logo_url" jdbcType="VARCHAR" javaType="java.lang.String" />
        </constructor>
    </resultMap>
    <select id="listVipLevel" resultType="org.xgun.kissolive.pojo.VipLevel" resultMap="VipResultMap">
        SELECT *
        FROM tb_vip_level
    </select>
    <update id="updateVipLevel" parameterType="org.xgun.kissolive.pojo.VipLevel">
        UPDATE tb_vip_level
        <set>
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="scoreLow != null" >
                score_low = #{scoreLow,jdbcType=INTEGER},
            </if>
            <if test="scoreHigh != null" >
                score_high = #{scoreHigh,jdbcType=INTEGER},
            </if>
            <if test="logoUrl != null" >
                logo_url = #{logoUrl,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="getScore" resultType="java.lang.Integer">
        SELECT score
        FROM tb_user
        WHERE id = #{userID}
    </select>
    <select id="getVipLevel" resultMap="VipResultMap">
        SELECT *
        FROM tb_vip_level
        WHERE score_low &lt;= #{score} AND score_high &gt;= #{score}
    </select>
    <select id="getGoodsUrl" resultType="java.lang.String">
        SELECT img_url
        FROM tb_production
        LEFT JOIN tb_goods ON tb_production.id = tb_goods.production_id
        WHERE tb_goods.id = #{goodsID}
    </select>
</mapper>